@import url(fonts.css);

*{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: black;

}

.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../imgs/4j12nz9jxj731.webp);
}

.landing--text{
    font-family: 'galaxy';
    animation-name: changer;
    animation-duration: 3s;
    color: white;
    font-size: 100px;
    animation-iteration-count: infinite;
    
}

@keyframes changer {
    0%{
        color: #353535;
        font-variation-settings: "wght" 59;
    }
    50%{
        color: #fff;
        font-variation-settings: "wght" 300;
    }
    100%{
        color: #353535;
        font-variation-settings: "wght" 59;
    }
}

.info{
    font-family: 'hasubi';
    color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.info--subclass{
    font-size: 80px;
}

.info--text{
     margin: 60px;
    font-size: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    color: #fff;
    font-family: 'loo';
    font-size: 70px;
    transition: all 500ms;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem ;
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.0.8) 0px 0.175rem 0.5rem ;
    font-family: 'morse'!important;
}


footer{
    background-color: rgba(29, 29, 29, 0.333) ;
}

.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
}

.morse{
    color: #fff;
    font-family: 'morse' ;
    font-size: 50px;

}


.morse:hover{

    color:#fff;
    font-family: 'hasubi' !important;
    font-size: 30px;
    transition: all 0.5s;
}

.normal{
    color:#fff;
    font-family: 'hasubi' !important;
    font-size: 30px;
    transition: all 0.5s;
}